/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import '@fortawesome/fontawesome-free/css/all';

.navbar{
    background-color: #000;
}

.logo{
    height: 120px;
    width: 120px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.cont{
    height: calc(100vh - 136px);
}

#side-menu{
    height: 100vh;
    position: fixed;
    z-index: 2000;
    background-color: #2e2e2e;
    width: 25%;
    margin-left: -25%;
    color: #FFF;
}

.icone-menu{
    font-size: 2.5rem;
    color: #FFF;
    margin-left: 5%;
    cursor: pointer;
}

.transparent{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1999;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#slide-menu-header{
    width: 100%;
    height: 136px;
    background-color: #A94338;
    text-align: center;
    overflow: auto;
}

#slide-menu-header h5{
    margin-top: 15%;
}

#slide-menu-body{
    width: 100%;
}

#slide-menu-body ul{
    list-style: none;
    width: 100%;
    padding: 0;
}

#slide-menu-body li{
    padding: 20px 0 20px 20px;
    /* Old browsers */
    background: linear-gradient(to left, transparent 50%, #A94338 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.3s ease;
}

#slide-menu-body li:hover {
    background-position:left bottom;
}

#slide-menu-body a{
    color: inherit;
    text-decoration: none;
}